<title>{{page.title}}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,600,700|EB+Garamond" >
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200;1,300&family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="/js/main.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
<meta name="format-detection" content="telephone=no">
<meta charset="utf-8">
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Physiotherapy",
  "name": "Elinor Wahrmann",
  "description": "Marriage and Family Therapist specializing in helping women who are struggling with life transitions, relationship challenges and self esteem issues.",
  "url" : "https://www.elinorwahrmann.com",
  "image" : "https://www.elinorwahrmann.com/img/profile2.jpg",
  "telephone": "(650) 770-3427",
  "priceRange": "Free Consultation",
  "address":
    {
      "@type": "PostalAddress",
      "streetAddress": "885 N San Antonio Rd",
      "addressLocality": "Los Altos",
      "addressRegion": "CA",
      "postalCode": "94022",
      "addressCountry": "USA"
    },
  "sameAs":[
  "https://instagram.com/elinorwahrmann",
  "https://https://www.facebook.com/profile.php?id=100093466116015",
  "https://www.linkedin.com/in/elinor-wahrmann-2b047143/"
  ]
}
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE2HFKLK7S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-BE2HFKLK7S');
</script>