<div class="banner" id="contact-banner">
    <div class="banner-content">
        <div id="contact-banner-text">
            <p class="emph">Reach <i>out</i> today.</p>
            <p>Take the first step toward creating the life you truly want.</p>
            <p><a href="contact.html">Schedule a free 15-minute consultation</a> with me — I’ll answer your questions and we can decide if we are a good fit working together.</p>
            <p><i>In-person in South Bay area & online throughout California</i></p>
            <p>I offer telehealth services as a way to make therapy more accessible and convenient for individuals who may have difficulty accessing traditional face-to-face counseling services.</p>
        </div>        
    </div>
</div>